<h1>Password#reset</h1>

<p>
  <%= @greeting %>, find me in app/views/password_mailer/reset.html.erb
</p>
<h1>Click the link to reset the password </h1>
<%= link_to "Reset Password", password_reset_edit_url(token: @token) %>
